.featured-img{
    width: 25vw;
    height: 30vh;
    object-fit: cover;
    

}
.featured-card{
    margin: 5px;
    border: 0;

}
.details{
    display:none
}
.details:hover{
    display:block;
    background-color: gray;
}